@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: Plus Jakarta Sans;
}

.conteniar {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
main section {
  display: flex;
  padding: 0px 16px;
  flex-direction: row-reverse;
}
main section .desktop-pattern {
  width: 600px;
  transform: translate(100px);
  margin-top: -350px;
}
main section .tablet-pattern {
  display: none;
}
main section .mobile-pattern {
  display: none;
}
main section .main-wrapper {
  max-width: 50%;
  margin-bottom: 226px;
}
main section .main-wrapper ww h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 70.56px;
  text-align: left;
  color: #13183F;
  margin-bottom: 29px;
}
main section .main-wrapper p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83869A;
  margin-bottom: 40px;
}
main section .main-wrapper button {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding: 17px 31px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: #FFFFFF;
  border: 0px;
  border-radius: 40px;
}
main section .main-wrapper button:hover {
  border-radius: 31.5px;
  background: rgba(255, 255, 255, 0.5), linear-gradient(180deg, rgb(255, 111, 72), rgb(240, 42, 166) 100%);
}

main {
  padding-bottom: 140px;
}
main .nav-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 56px;
  padding: 0px;
  margin: 0 auto;
}
main .nav-section .nav {
  width: 350px;
  padding-top: 64px;
  padding-bottom: 138px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 10px;
}
main .nav-section .nav h6 {
  width: 268px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
}
main .nav-section .list {
  width: 350px;
  padding: 15px 0px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.0431372549);
  border-radius: 10px;
}
main .nav-section .list img {
  transform: translate(35px, -45px);
}
main .nav-section .list .nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 286px;
  margin: 0 auto;
}
main .nav-section .list .nav-list h6 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30.24px;
  text-align: left;
  color: #13183F;
}
main .nav-section .list .nav-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83869A;
}
main .nav-section .list .nav-list h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #F74780;
  cursor: pointer;
}
main .nav-section .list .nav-list h5:hover {
  color: #FFA7C3;
}

footer {
  width: 100%;
  background-color: #13183F;
  padding: 32px 16px;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrapper button {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  border: 0px;
  border-radius: 35px;
  padding: 14px 31px;
}
footer .footer-wrapper button:hover {
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.5), linear-gradient(180deg, rgb(72, 81, 255) -54.317%, rgb(240, 42, 166) 100%);
}

@media (max-width: 900px) {
  header .header-wrapper button {
    padding: 9px 24px;
  }
  main section .desktop-pattern {
    display: none;
  }
  main section .mobile-pattern {
    display: none;
  }
  main section .tablet-pattern {
    display: flex;
    margin-top: -200px;
  }
  main section .main-wrapper {
    max-width: 400px;
    padding: 0px 16px;
  }
  main section .main-wrapper h1 {
    font-size: 40px;
    line-height: 50px;
  }
  main section .main-wrapper p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }
  main section .main-wrapper button {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 37px;
  }
}
@media (max-width: 600px) {
  main section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  main section .desktop-pattern {
    display: none;
  }
  main section .tablet-pattern {
    display: none;
  }
  main section .mobile-pattern {
    display: flex;
    align-items: center;
    margin-top: -150px;
  }
  main main .nav-section .nav {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */